# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual environments
venv/
Venv/
env/
.venv/
ENV/

# IDE / Editor settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest / Coverage
.coverage
.cache/
.pytest_cache/

# Logs
*.log

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db

# MyPy
.mypy_cache/

# Pylint
.pylint.d/

# Local configs
config.jso
